rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /urls/{url} {
      allow read: if request.auth.uid != null;
      allow create: if request.auth.uid != null
                    && !exists(/databases/$(database)/documents/urls/$(url));
      allow delete: if request.auth.uid == resource.data.owner_uid;
      allow update: if false;
    }
  }
}
