service cloud.firestore {
  match /databases/{database}/documents {
    match /urls/{url} {
      allow read, create: if request.auth.uid != null;
      allow update, delete: if resource.data.owner.uid == request.auth.uid;
    }
  }
}
